body {
    font-family: "MuseoModerno", sans-serif;
    background-color: #000000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-color: #2e2e30;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

.navbar {
    background-color: white;
    min-height: 90px;
}

.navbar-brand {
    color: #fff;
    font-weight: bold;
}

.navbar-brand img {
    max-width: 50px;
    height: auto;
    max-height: 50px;
}

.navbar-nav .nav-link {
    color: #000000;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: #ccc;
}

.navbar .d-flex {
    margin-left: auto;
    align-items: center;
}

.navbar .d-flex a {
    text-decoration: none;
}

.carousel-item img {
    height: 400px;
    object-fit: cover;
    margin-bottom: 50px;
}

#carouselExampleCaptions {
    margin: 0 auto;
}

.carousel-inner {
    text-align: center;
}

.carousel-item img {
    max-width: 100%;
}

.carousel-caption h2 {
    font-size: 2rem;
    font-weight: bold;
}

main section {
    text-align: center;
}

main section h2 {
    color: white;
    margin-top: 20px;
    font-size: 2.5rem;
    font-weight: normal;
}

footer {
    background-color: #f8f9fa;
    color: #000000;
    text-align: center;
    padding: 0px 0;
}

.icono-fb,
.icono,
.icono-fb-hd,
.icono-ig-hd,
.icono-wsp-hd,
.icono-carrito {
    width: 50px;
    height: 50px;
    transition: transform 0.2s ease-in-out;
}

.icono-ig{
    width: 60px;
    height: 60px;
    transition: transform 0.2s ease-in-out;
}

.icono-wsp{
    width: 80px;
    height: 80px;
    transition: transform 0.2s ease-in-out;
}

.icono-fb,
.icono-ig,
.icono-wsp {
    margin: 10px;
}

.icono-fb-hd,
.icono-ig-hd,
.icono-wsp-hd {
    margin: 5px;
}

.icono-carrito {
    width: 50px;
    height: 50px;
    transition: transform 0.2s ease-in-out;
}

.icono:hover,
.icono-wsp:hover,
.icono-ig:hover,
.icono-fb:hover,
.icono-carrito:hover,
.icono-wsp-hd:hover,
.icono-ig-hd:hover,
.icono-fb-hd:hover {
    transform: translateY(-3px);
}

footer p {
    margin-top: 10px;
    font-size: 1rem;
    color: #000000;
}

.card {
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 250px;
    object-fit: cover;
}

.card-body {
    padding: 1.25rem;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 0.75rem;
}

.card-text {
    color: #666;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
}

.btn-primary:hover {
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-custom {
    background-color: #ffffff;
    color: #000000;
    border-color: #000000;
}

.btn-custom:hover {
    background-color: #979393;
    color: #000000;
    border-color: #000000;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    padding: 30px;
}

.gente-tocando {
    width: 500px;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

.orquesta {
    width: 600px;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
    order: 2;
}

.pq-instrum {
    flex: 1;
    margin-left: 20px;
}

.pq-instrum p,
.banda-sinfonica {
    color: #ccc;
    line-height: 1.6;
    padding: 20px;
}

.orquesta:hover,
.gente-tocando:hover {
    transform: scale(1.05);
}
